body {
  background: #f5f5f5;
}

.opcion {
  padding: 20px;
  text-decoration: none;
  color: #000;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.opcion img {
  width: 80px;
  margin-bottom: 10px;
}

.opcion p {
  font-weight: bold;
  font-size: 18px;
}
